/* WAVES */

:root .userPopout-2j1gM4 .body-2wLx-E .customStatus-3XAoF9, :root .userPopout-2j1gM4 .body-2wLx-E .aboutMeSection-PUghFQ {
  padding: 0 0px 20px;
  margin: 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .divider-1wtgZ3 {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
  padding: 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L {
  padding: 16px;
  margin: 20px 0 16px 0;
  z-index: 1;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .headerText-3g1XK9, :root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .activityName-3YXl6e,
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .content-tXPNDw, :root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .details-2-ciHo, :root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .name-1-Q7l2,
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .nameNormal-2fPMD2, :root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .nameWrap-3TyM52 {
  color: white;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .button-f2h6uQ {
  border: none;
  background-color: #ffffff21;
  box-shadow: 0 4px 15px #00000021;
  color: #fff;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .headerTextNormal-Z8we9g::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 269px;
  top: -13px;
  left: 0;
  background: url("https://nyri4.github.io/Comfy/assets/wave.svg");
  background-size: 269px 22px;
  animation: animate2 4s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .headerTextNormal-Z8we9g::before {
  content: "";
  position: absolute;
  height: 21px;
  z-index: 1;
  width: 269px;
  top: -13px;
  left: 0;
  background: var(--background-secondary);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  animation: animate2 4s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
@keyframes animate2 {
  0% {
    -webkit-mask-position-x: 268px;
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  left: 0;
  top: 0;
  background: #7289da;
  background: var(--playing);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L::after {
  content: "";
  position: absolute;
  height: 21px;
  z-index: 2;
  width: 269px;
  top: -13px;
  left: 0;
  background: #7289da;
  background: var(--playing);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .timeBarUserPopout-qLXZaR::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background: #1db954;
  background: var(--listening);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .timeBarUserPopout-qLXZaR::after {
  content: "";
  position: absolute;
  height: 21px;
  width: 269px;
  top: -13px;
  left: 0;
  z-index: 3;
  background: #1db653;
  background: var(--listening);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  animation: animate 6s linear infinite;
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    -webkit-mask-position-x: 0;
  }
  100% {
    -webkit-mask-position-x: 268px;
  }
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .platformIcon-k3yytQ {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L + h3 {
  position: relative;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L + h3::before {
  content: "";
  position: absolute;
  top: -36px;
  left: -3px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: solid var(--background-tertiary);
  border-width: 0 0 3px 3px;
  border-radius: 0 0 0 8px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L + h3::after {
  content: "";
  position: absolute;
  top: -36px;
  right: -3px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: solid var(--background-tertiary);
  border-width: 0 3px 3px 0;
  border-radius: 0 0 8px 0;
}
